name: Terraform CI/CD

on:
  push:
    branches:
      - main   # runs when you push to main
  pull_request:
    branches:
      - main   # runs on PRs targeting main

permissions:
  id-token: write   # needed for Workload Identity Federation
  contents: read    # needed to read repo files

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: terraform-deployer@neat-motif-478810-k1.iam.gserviceaccount.com

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -input=false -out=tfplan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -input=false -auto-approve tfplan
